:root {
    --primary: #52505f;
    --secondary: #636181;
    --shadow-soft: rgba(0, 0, 0, 0.2);
    --shadow-strong: rgba(0, 0, 0, 0.35);

    /* Global Spacing scale */
    --space-xs: 8px;
    --space-sm: 15px;
    --space-md: 30px;
    --space-lg: 60px;
    --space-xl: 90px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fcf4f4;
    color: var(--primary);
    line-height: 1.6;
}

/* ---------------Header-------------- */
.header {
    background-color: whitesmoke;
    padding: var(--space-sm) var(--space-md);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 12px var(--shadow-soft);
    position: sticky;
    top: 0;
    bottom: 0;
    border-radius: 10px;
}

.header h2 {
    font-size: 30px;
    font-weight: 700;
    color: rgba(46, 35, 15, 0.795);
}

.navbar {
    /* padding: var(--space-xs);
    margin: var(--space-xs) var(--space-sm); */
    display: flex;
    gap: var(--space-sm);
}

.navbar a {
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
    padding: var(--space-sm);
    transition: all 0.3s ease;
}

.navbar a:hover {
    text-decoration: underline;
    color: var(--secondary);
}

/* ----------------Hero-Section------------------ */
.hero {
    position: relative;
    height: 50vh;
    background: url('https://plus.unsplash.com/premium_photo-1685086785054-d047cdc0e525?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

.hero-content {
    position: relative;
    color: white;
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    padding: var(--space-xl) var(--space-sm);
    z-index: 1;
}

.hero-title {
    font-size: clamp(18px, 5vw, 60px);
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-subtitle {
    font-size: clamp(14px, 5vw, 26px);
    margin-bottom: 30px;
    line-height: 1.5;
}

.hero-btn {
    background-color: var(--secondary);
    color: white;
    margin-top: var(--space-md);
    padding: 24px 49px;
    border: none;
    border-radius: 12px;
    font-size: 28px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero-btn:hover {
    background-color: rgb(90, 64, 64);
    transform: translateY(-3px);
}

/* -------------------------Feature Section------------------------ */
.features {
    padding: var(--space-sm);
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
}

.features h2 {
    font-size: clamp(14px, 5vw, 45px);
    margin: 40px 0;
    font-weight: 700;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: var(--space-sm);
    padding: var(--space-md);
}

.feature-card {
    border-radius: 20px;
    box-shadow: 0 8px 20px var(--shadow-soft);
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px var(--shadow-strong);
}

.feature-card img {
    width: 80px;
    border-radius: 10px;
}

.feature-card h3 {
    font-size: 24px;
}

.feature-card p {
    font-size: 18px;
    text-align: center;
}

.feature-links {
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    background-color: rgba(231, 219, 229, 0.938);
    color: purple;
    padding: 10px;
    border-radius: 10px;
    margin-top: 8px;
    transition: all .3s ease-in;
}

.feature-links:hover {
    transform: scale(0.95);
    background-color: rgb(219, 188, 188);
}

/* --------------------------Services Section----------------------------- */
.services {
    text-align: center;
    margin-top: 50px;
    padding: 80px 20px;
    background-color: rgb(223, 217, 230);
}

.services h2 {
    font-size: clamp(20px, 5vw, 45px);
    font-weight: 600;
    margin-bottom: 50px;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 45px;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}

.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    margin: 30px;
    box-shadow: 0 8px 18px var(--shadow-soft);
    cursor: pointer;
    transition: all 0.3s ease;
}

.service-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px var(--shadow-strong);
}

.service-card:active {
    border: 2px solid var(--secondary);
}

.service-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.35s ease;
}

.service-card .contents {
    flex: 1;
    padding: 25px 20px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.service-card .contents h3 {
    color: var(--primary);
    font-size: 25px;
    font-weight: 600;
}

.service-card .contents p {
    font-size: 16px;
    color: var(--secondary);
    line-height: 1.6;
    margin-bottom: 20px;
}

.service-card .contents a {
    text-decoration: none;
    color: var(--primary);
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s ease-in;
    display: inline-block;
}

.service-card .contents a:hover {
    text-decoration: underline;
    transform: translateY(4px);
}

/* -----------------------Pricing Plans------------------------------ */
.pricing {
    text-align: center;
    padding: 80px 20px;
    background: #f7dcdc50;
}

.pricing h2 {
    font-size: clamp(30px, 5vw, 45px);
    margin-bottom: 40px;
}

.pricing-grid {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 15px;

}

.pricing-card {
    box-shadow: 0 8px 18px var(--shadow-soft);
    padding: 25px 15px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.pricing-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px var(--shadow-strong);
}

.pricing-card h3 {
    font-size: 25px;
    margin-bottom: 15px;
}

.pricing-card .price {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
}

.pricing-card .price span {
    font-size: 16px;
    color: gray;
}

.pricing-card ul {
    list-style: none;
    margin: 20px 0;
    padding: 0 10px;
    line-height: 1.8;
}

.pricing-card ul li::before {
    content: "\2714";
    font-weight: 500;
    font-size: 16px;
    width: 15px;
    height: 25px;
    padding: 0 8px 0 0;
}

.pricing-card ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing-card .plan-btn {
    display: inline;
    background-color: rgba(223, 194, 142, 0.651);
    padding: 12px 20px;
    color: var(--primary);
    text-decoration: none;
    border-radius: 12px;
    font-weight: 600;
    transition: all 0.3s ease;

}

.pricing-card .plan-btn:hover {
    background-color: rgb(247, 247, 242);
}

.pricing-card .plan-btn:focus {
    background-color: rgb(247, 247, 242);
    color: purple;
}

/* -----------------------FAQ--------------------------- */
.faq {
    max-width: 1400px;
    margin: 35px auto;
    padding: 20px 25px;
    text-align: center;
}

.faq h2 {
    font-size: clamp(24px, 5vw, 36px);
    margin-bottom: 30px;
    color: var(--primary);
}

.faq-items {
    background-color: white;
    box-shadow: 0 4px 10px var(--shadow-soft);
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
}

.faq-question {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.faq-question:hover {
    background-color: rgb(245, 220, 220);
}

.faq-question .arrow {
    border-top: 1px solid black;
    border-left: 1px solid black;
    width: 12px;
    height: 12px;
    transform: rotate(220deg);
    display: inline-block;
    transition: transform 0.3s ease;
}

.faq-question .arrow.rotated {
    transform: rotate(40deg);
}

.faq-answer {
    display: none;

}

.faq-answer.open {
    display: block;
    background-color: rgb(245, 220, 220);
    text-align: left;
    padding: 15px 20px;
    overflow: hidden;

}

.contact {
    max-width: 1400px;
    margin: 0 auto;
    padding: 35px 40px;
}

.contact h2 {
    font-size: clamp(24px, 5vw, 40px);
    color: var(--primary);
    margin-bottom: 10px;
    text-align: center;
}

.contact>.subtitle {
    font-size: 25px;
    text-align: center;
    margin-bottom: 45px;
}

.contact .contact-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
    gap: 40px;
    box-shadow: 0 8px 18px var(--shadow-soft);
    border-radius: 15px;
    padding: 25px 20px;
    transition: all 0.3s ease;

}

.contact .contact-wrapper:hover {
    box-shadow: 0 10px 20px var(--shadow-strong);
}

.contact .contact-wrapper>.contact-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
}

.contact-info .info-item {
    margin-bottom: 2px;
}


.contact-form .input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;
}

.contact-form .input-group label {
    font-size: 20px;
    margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
    padding: 10px 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-group textarea {
    min-height: 120px;
}

.contact-form .submit-btn {
    padding: 13px 18px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #52505f;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.contact-form .submit-btn:hover {
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

/* ---------------------Footer------------------------ */
.footer {
    background-color: rgb(223, 217, 230);
    padding: 40px 55px;

}

.footer .footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 45px;
    text-align: center;
}



.footer-brand h3 {
    font-size: 35px;
    margin-bottom: 16px;
}

.footer-brand p {
    font-size: 20px;
    color: var(--secondary);
}

.footer-links {
    text-align: center;
}

.footer-links h4 {
    font-size: 25px;
    margin-bottom: 12px;
}

.footer-links ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    list-style: none;
}

.footer-links ul li a {
    text-decoration: none;
    font-size: 19px;
    color: var(--primary);
    transition: all 0.3s ease;
}

.footer-links ul li a:hover {
    color: blue;
    text-decoration: underline;
}

.footer-social {
    text-align: center;
}

.footer-social h4 {
    font-size: 25px;
    margin-bottom: 12px;
}

.footer-social .social-icons {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.footer-social .social-icons a {
    text-decoration: none;
    font-size: 25px;
    transition: all .3s ease-in;
}

.footer-social .social-icons a:hover {
    transform: translateY(-4px);
}

.footer-bottom {
    text-align: center;
    margin-top: 50px;
    font-size: larger;
    font-weight: 600;
}

@media (max-width:750px) {
    .header h2 {
        font-size: 17px;
    }

    .header {
        justify-content: space-evenly;
    }

    .navbar a {
        font-size: 14px;
        padding: 0 1px;
    }

    .hero-btn {
        font-size: 15px;
        padding: 12px 8px;
        margin-top: 25px;
    }


}