:root {
    --primary-color: #18a38e;
    --secondary-color: #3d3c50;
    --shadow-strong: rgba(0, 0, 0, 0.35);
    --shadow-soft: rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.review {
    padding: 80px 25px;
    text-align: center;
    background-color: #f9f9fc;
}

.review h2 {
    color: var(--primary-color);
    font-size: clamp(30px, 4vw, 45px);
    margin-bottom: 1.8em;
}

.review-grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 45px;
}

.review-card {
    background-color: white;
    padding: 35px 25px;
    /* border: 1px solid black; */
    border-radius: 14px;
    box-shadow: 0 8px 20px var(--shadow-soft);
    transition: all 0.3s ease;
}

.review-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px var(--shadow-strong);
    border: 2px solid var(--primary-color);
}

.profile {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    object-fit: cover;
    margin-bottom: 15px;
}

.role {
    font-size: 14px;
    color: var(--secondary-color);
    margin-bottom: 12px;
}
.user-review {
    max-width: 280px;
    margin: 0 auto 18px;
    font-size: 15px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 18px;
}

.stars {
    color: gold;
    font-size: 20px;
}