/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;

}

/* hero layout */
.hero {
    position: relative;
    height: 70vh;
    background: url('https://plus.unsplash.com/premium_photo-1685086785054-d047cdc0e525?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hero Overlay */
.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

/* Hero contents */
.hero-content {
    position: relative;
    color: white;
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    padding: 80px 20px;
    z-index: 1;

}

.hero-title {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-subtitle {
    font-size: 24px;
    margin-bottom: 30px;
    line-height: 1.5;
}

/* Button */
.btn-primary {
    background-color: #6C5CE7;
    box-shadow: 0 8px 28px rgba(218, 85, 85, 0.15);
    color: white;
    padding: 14px 26px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
    background-color: #A29BFE;
    transform: translateY(-3px);
}

/* Feature Selection */
.features {
    padding: 80px 20px;
    text-align: center;
    /* background-color: #f9fafb; */

}

.features h2 {
    font-size: 50px;
    color: purple;
    font-weight: 600;
    margin-bottom: 20px;
}

.features p {
    font-size: 18px;
    color: #2D3436;

}

/* Responsive */
@media (max-width: 720px) {
    .hero {
        height: 75vh;

    }

    .hero .hero-title {
        font-size: 42px;

    }

    .hero-subtitle {
        font-size: 20px;
    }

    .btn-primary {
        padding: 12px 22px;
    }

    .features h2 {
        font-size: 36px;
    }
}

@media (max-width: 480px) {
    .hero .hero-title {
        font-size: 32px;

    }

    .hero-subtitle {
        font-size: 18px;
    }

    .btn-primary {
        width: 40%;
    }

    .features h2 {
        font-size: 28px;
    }
}