/* Reset an Resizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.features {
    padding: 15px;
    height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    color: purple;
}

.features h2 {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 50px;
}

.feature-grid {
    padding: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.feature-grid .feature-card {
    /* border: 1px solid purple; */
    border-radius: 60px 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;


}

.feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

}

.feature-card img {
    /* width: 80px; */
    border-radius: 10px;
}

.feature-card h3 {
    font-size: 24px;
}

.feature-card p {
    font-size: 18px;
}

.feature-card .feature-links {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: rgba(231, 219, 229, 0.938);
    color: black;
    padding: 12px;
    border-radius: 10px;
    margin-top: 8px;
    transition: all 0.4s ease-in;
}

.feature-card .feature-links:hover {
    transform: scale(0.85);
    background-color: brown;
    color: aliceblue;
}

/* Responsive  */

@media (max-width: 620px) {
    .features h2 {
        font-size: 35px;
    }
}